<div id="gritter-notice-wrapper" class="top-right">
    <div id="gritter-item-39" class="gritter-item-wrapper success-notice" role="alert">
        <div class="gritter-item">
            <a class="gritter-close" href="#" tabindex="1">
                <i class="l-arrows-remove s16"></i>
            </a>
            <i class="fa fa-envelope gritter-icon"></i>
            <div class="gritter-without-image">
                <span class="gritter-title">{{ title }}</span>
                <p>{{ message }}</p>
            </div>
            <div style="clear:both">
            </div>
        </div>
    </div>
</div>



<!-- <div id="gritter-item-29" class="gritter-item-wrapper " style="" role="alert">
    +<div class="gritter-item">
      <a class="gritter-close" href="#" tabindex="1">
        <i class="l-arrows-remove s16"></i></a><img src="https://s3.amazonaws.com/uifaces/faces/twitter/kolage/128.jpg" class="gritter-image"><div class="gritter-with-image"><span class="gritter-title">Jonh Doe</span><p>User is just logged into system.</p></div><div style="clear:both"></div></div></div></div> -->