<div class="modal fade in" id="panelModal" tabindex="-1" role="dialog" aria-hidden="false" data-backdrop="static" style="display: block;">
    <div class="modal-backdrop fade in"></div>
    <div class="modal-dialog modal-dialog-center" style="margin-top: -66.5px; margin-left: -300px;">
        <div class="modal-content" style="max-height: 597px;">
            <div class="modal-body p0" style="max-height: 593px;">
                <div class="panel panel-primary mb0" id="dyn_6">
                    <!-- Start .panel -->
                    <div class="panel-heading">
                        <h4 class="panel-title">Panel in modal</h4>
                        <div class="panel-controls">
                            <a href="#" data-dismiss="modal"><i class="im-close"></i></a>
                        </div>
                    </div>
                    <div class="panel-body">
                        Lorem ipsum dolor sit amet, consectetur adipisicing elit. Debitis harum, architecto rem minus doloremque quis tempora quisquam, iusto qui labore repudiandae beatae ipsa, placeat necessitatibus deserunt. Eos, repellat laboriosam tenetur.
                    </div>
                </div>
                <!-- End .panel -->
            </div>
        </div>
    </div>
</div>